.projectsBlock {
    height: 100vh;
    background-color: rgba(100, 145, 145, 0.76);
}
.projectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title {
    background-color: beige;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}